altgraph==0.17.3
bottle==0.12.25
bottle-websocket==0.2.9
cffi==1.15.1
comtypes==1.2.0
Counter==1.0.0
Eel==0.16.0
future==0.18.3
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.2
imageio==2.30.0
numpy==1.24.3
Panda3D==1.10.13
panda3d-gltf==0.15.0
panda3d-simplepbr==0.10
pefile==2023.2.7
perlin-noise==1.12
Pillow==9.5.0
pycparser==2.21
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2023.3
pyparsing==3.0.9
pyperclip==1.8.2
pypiwin32==223
pyttsx3==2.90
pywin32==306
pywin32-ctypes==0.2.0
six==1.16.0
ursina==5.2.0
UrsinaNetworking==2.1.4
whichcraft==0.6.1
wxPython==4.2.0
zope.event==4.6
zope.interface==6.0
